<br />
<section class="private-info">
  <div class="headshot">
    <img
      src="https://pbs.twimg.com/profile_images/1699525158807965696/EGa1GWQg_400x400.jpg"
    />
  </div>
  <div class="bio">
    <div class="infos">
      Name:<br />
      Birthday:<br />
      Address: <br /><br /><br />
      Mobile: <br />
      E-Mail: <br /><br />
      Kids:
    </div>
    <div>
      <h1>Reto Ryter</h1>
      <span>09.06.1987</span><br />
      Schwalbenweg 3<br />
      3510 Konolfingen<br /><br /><a href="tel:+41794091897">+41794091897</a
      ><br /><a href="mailto:reto@twy.gmbh" target="_blank">reto@twy.gmbh</a
      ><br /><br />
      👧 Hannah <span style="opacity: 0.3"> - 2014</span> <br />
      👦 Aaron <span style="opacity: 0.3"> - 2016</span>
    </div>
  </div>
</section>
<section>
  <ol class="list list--experiences">
    <li>
      <div class="position">
        <img class="company-logo" src="../assets/twy_logo.png" />
        <h3>Founder <br />Senior Frontend Engineer</h3>
        <span class="time">Feb 2012 - present<br />Workload 80%</span
        ><br /><br />
        <div>
          <img src="../assets/icons/angular-icon.svg" style="height: 30px" />
          <img src="../assets/icons/RxJs_Logo_Basic.svg" style="height: 30px" />
          <img src="../assets/icons/typescript.webp" style="height: 30px" />
          <img src="../assets/icons/html5-icon-13.jpg" style="height: 30px" />
          <img
            src="../assets/icons/css.png"
            style="height: 26px; padding: 2px 0"
          />
          <img src="../assets/icons/icon-96x96.png" style="height: 30px" />
          <img
            src="../assets/icons/jest-logo-F9901EBBF7-seeklogo.com.png"
            style="height: 26px; padding: 2px 0"
          />
        </div>
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Visana</h4>
              <span>Mar 2023 - Oct 2023</span>
              <img
                src="../assets/visana_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>Description</h4>
              <ul class="skills">
                <li>
                  Comprehensive evaluation of the in-house developed Angular
                  framework.
                </li>
                <li>
                  Enhanced the developer experience, optimized payload size, and
                  bolstered its reliability.
                </li>
                <li>
                  Improved performance and readability by refactoring code.
                </li>
                <li>
                  Aligned the framework with best practices to deliver optimal
                  organizational value.
                </li>
                <li>
                  Spearheaded initiatives to foster a culture of continuous
                  improvement within the organization.
                </li>
                <li>
                  Encouraged knowledge transfers between teams to enhance
                  collaboration and shared understanding.
                </li>
              </ul>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Angular</li>
                <li>TypeScript</li>
                <li>HTML5 / SCSS</li>
                <li>Kubernetes</li>
                <li>CI / CD</li>
                <li>Tooling / NX.dev</li>
              </ul>
            </div>
          </li>

          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>LUKSO</h4>
              <span>Jan 2021 - Feb 2022</span>
              <img
                src="../assets/lukso_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>Description</h4>
              <ul class="skills">
                <li>Authored two TypeScript-based JavaScript libraries.</li>
                <li>
                  Enhanced websites with new E2E-tested designs and features.
                </li>
                <li>
                  Developed a Go/Angular app to manage blockchain network
                  binaries.
                </li>
                <li>Established CI/CD pipelines using GitHub-Actions.</li>
                <li>Initialized a Kubernetes cluster leveraging Git-Ops.</li>
              </ul>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Solidity</li>
                <li>TypeScript</li>
                <li>HTML5 / CSS3</li>
                <li>Kubernetes</li>
                <li>CI / CD</li>
              </ul>
            </div>
          </li>

          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Schweizerische Mobiliar</h4>
              <span>Nov 2018 - Dec 2020</span>
              <img src="../assets/mobi_logo_de.svg" class="position__logo" />
            </div>
            <div>
              <h4>Description</h4>
              <ul class="skills">
                <li>
                  Collaborated on a significant project with over 200
                  developers, leading frontend development initiatives.
                </li>
                <li>
                  Managed the shift from an expansive AngularJS codebase to
                  Angular, emphasizing Reactive Programming with RxJS.
                </li>
                <li>
                  Introduced and integrated development tools such as Jest,
                  Cypress, and Storybook to optimize the workflow.
                </li>
                <li>
                  Crafted a custom Chef playbook designed for an Ubuntu VM and
                  established a specialized proxy for specific requests.
                </li>
                <li>
                  Shared expertise in Angular(10+), directed RxJS rewrites,
                  managed Jest/Cypress tests.
                </li>
              </ul>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Angular</li>
                <li>RxJS</li>
                <li>TypeScript</li>
                <li>Tooling</li>
                <li>HTML5 / SCSS</li>
                <li>CI/CD</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Schweizerische Mobiliar</h4>
              <span>Aug 2016 - Feb 2018</span>
              <img src="../assets/mobi_logo_de.svg" class="position__logo" />
            </div>
            <div>
              <h4>Description</h4>
              <ul>
                <li>
                  Developed new features and single-page applications (SPAs)
                  within an existing AngularJS framework.
                </li>
                <li>
                  Led efforts in migrating SPAs and libraries from AngularJS to
                  the newer Angular(v7).
                </li>
                <li>
                  Played a pivotal role in writing unit and end-to-end tests to
                  ensure application robustness.
                </li>
                <li>
                  Significantly decreased build times and improved the overall
                  (frontend) developer experience.
                </li>
              </ul>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>AngularJS</li>
                <li>Javascript / TypeScript</li>
                <li>Webpack</li>
                <li>HTML / CSS</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Localsearch</h4>
              <span>Jun 2015 - Jul 2016</span>
              <img
                src="../assets/localsearch_logo.svg"
                class="position__logo"
              />
            </div>
            <div>
              <p>
                Launched several websites within the local.ch domain. Migrated
                the existing blog into the newly created Locomotive CMS
                instance. Prepared all the instances to be ready for future CMS
                upgrades.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>Ruby / Locomotive CMS</li>
                <li>HTML / CSS</li>
              </ul>
              <blockquote>
                <h4>Jeremy Seitz, Head of Web Engineering</h4>
                I had the pleasure of working with Reto for nearly a year at
                local.ch. As an external provider, he helped us to re-launch
                several web sites, as well as contributing to our CMS
                infrastructure. Through his company TWY, he provided a very
                professional and quality service, in terms of the technical work
                and managing project complexity. His communication skills are
                strong, both with engineers and business stakeholders. He also
                integrated well with internal teams, pairing and reviewing code,
                and contributing solutions and ideas. I highly recommend him for
                software development and project management needs.
              </blockquote>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span>Sep 2015 - Nov 2015</span>
              <img
                src="../assets/twy_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>NMS-Webportal</h4>
              <p>
                Developed a License management web application for the existing
                Moba NMS Software. Features include managing licesenes,
                customers, supliers and so forth. Connected the application to a
                REST-Endpoint (JSON). License orders are imported from SAP via
                SOAP.
              </p>
              <h4>Tech-Stack:</h4>
              <ul>
                <li>AngularJS</li>
                <li>Javascript</li>
                <li>HTML / CSS</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span class="time">Apr 2014 - May 2015</span>
              <img
                src="../assets/twy_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>Satisfaction CMS</h4>
              <p>
                Developing an AJAX content management system based on AngularJS
                and Ruby on Rails (backend JSON-API).
              </p>
              <h4>Tech-Stack:</h4>
              <ul>
                <li>AngularJS</li>
                <li>Ruby on Rails</li>
                <li>Javascript</li>
                <li>Ruby</li>
                <li>HTML / CSS</li>
                <li>SASS</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img
          class="company-logo company-logo--black"
          src="../assets/notch-interactive_logo.png"
        />
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Frontend-Developer</h3>
              <h4>Notch Interactive GmbH</h4>
              <span class="time">Aug 2013 – May 2014<br />Workload: 80%</span>
            </div>
            <div>
              <p>
                Relaunch of Kitag.com: Introduced AngularJS to the whole
                development team. I was responsible for all the JavaScript
                components (Seating-Plan, Coverflow and so on). Won the gold
                award at the BOSW 2015 (Best of Swiss Web) in the category
                "Technology".
              </p>
              <p>
                Hearing Test for Sonova: Developed an AngularJS application with
                several step by step wizzards to test the hearing capabilites of
                elderly persons.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>AngularJS</li>
                <li>HTML / CSS</li>
                <li>Python</li>
                <li>Django</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img class="company-logo" src="../assets/liip_logo.png" />
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Frontend-Developer</h3>
              <h4>Liip AG</h4>
              <span class="time">Oct 2011 – Aug 2013<br />Workload 80%</span>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>HTML / CSS</li>
                <li>PHP</li>
                <li>Symfony 2</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img
          class="company-logo company-logo--black"
          src="../assets/comvation_logo_rgb_weiss.svg"
        />
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Frontend-Developer</h3>
              <h4>Comvation AG</h4>
              <span class="time">Oct 2010 – Sep 2011<br />Workload 80%</span>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript / jQuery</li>
                <li>HTML / CSS</li>
                <li>PHP</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ol>
</section>
