:host {
  position: relative;
  display: block;
  width: 100%;
}

.title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-title {
  font-size: 35px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.list--experiences > li {
  display: flex;
}

header {
  padding: 10px;
}

.position {
  width: 300px;
  padding: 10px;
  text-align: right;
  h2 {
    margin-top: 10px;
  }
}

.position__logo {
  max-width: 150px;
  background: white;
}

.position-description {
  max-width: 850px;
  > ul > li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
  }
}

.time {
  color: rgba(255, 255, 255, 0.3);
}

.infos {
  flex-shrink: 0;
  min-width: 250px;
  color: rgba(255, 255, 255, 0.3);
  + div {
    max-width: 600px;
  }
  h3 {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    padding-bottom: 8px;
  }
  span {
    display: block;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.3);
  }
}
.list--experiences > li {
  display: flex;
}
.private-info {
  display: flex;
}
.company-logo {
  height: 50px;
  margin-bottom: 20px;
}
.bio {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  max-width: 800px;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.headshot {
  display: block;
  width: 300px;
  overflow: hidden;
  padding: 0 10px;
  text-align: right;
  margin-bottom: 50px;

  > img {
    height: 200px;
  }
}

.position-description {
  max-width: 850px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);

  h4 {
    color: white;
  }

  p {
    line-height: 1.5;
  }
}
