<!-- <header>
  <h1 class="title">Reto Ryter - Web Developer</h1>
</header> -->
<br>
<section>
  <h2 class="section-title">Experience</h2>
  <ol class="list list--experiences">
    <li>
      <div class="position">
        <img src="../assets/twy_logo.png" width="200px" class="twy-logo">
        <h2><a href="http://www.twy.gmbh" target="_blank">TWY GmbH</a></h2>
        <h3>Founder / Web-Developer</h3>
        <span class="time">Feb 2012 - present</span>
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span>Feb 2018 - present</span>
            </div>
            <div>
              <h4>Coaster App</h4>
              <p>TBD </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Angular 6</li>
                <li>TypeScript</li>
                <li>Redux / ngrx</li>
                <li>Jest</li>
                <li>Ruby on Rails / Ruby</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Schweizerische Mobiliar</h4>
              <span>Aug 2016 - Feb 2018</span>
              <img src="../assets/mobi_logo_de.svg" class="position__logo" />
            </div>
            <div>
              <h4>Project NSP</h4>
              <p>Developing features within an existing AngularJS application. Improved build time significantly and tooling
                / developer experience in general. Introduced and integrated
                <a href="https://github.com/prettier/prettier">Prettier</a> into the existing workflow.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>HTML5 / CSS3</li>
                <li>AngularJS</li>
                <li>Javascript / TypeScript </li>
                <li>Webpack</li>
                <li>Tooling</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Localsearch</h4>
              <span>Jun 2015 - Jul 2016</span>
              <img src="../assets/localsearch_logo.svg" class="position__logo" />
            </div>
            <div>
              <p>TBD </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript </li>
                <li>Ruby / Locomotive CMS</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>SASS</li>
              </ul>
              <blockquote>
                <h4>Jeremy Seitz, Head of Web Engineering</h4>
                I had the pleasure of working with Reto for nearly a year at local.ch. As an external provider, he helped us to re-launch
                several web sites, as well as contributing to our CMS infrastructure. Through his company TWY, he provided
                a very professional and quality service, in terms of the technical work and managing project complexity.
                His communication skills are strong, both with engineers and business stakeholders. He also integrated well
                with internal teams, pairing and reviewing code, and contributing solutions and ideas. I highly recommend
                him for software development and project management needs.
              </blockquote>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span>Sep 2015 - Nov 2015</span></div>
            <div>
              <h4>NMS-Webportal</h4>
              <p>Developed a License management web application for the existing Moba NMS Software. Features include managing
                licesenes, customers, supliers and so forth. Connected the application to a REST-Endpoint (JSON). License
                orders are imported from SAP via SOAP.</p>
              <h4>Tech-Stack:</h4>
              <ul>
                <li>AngularJS</li>
                <li>Javascript</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>SASS</li>
              </ul>
            </div>

          </li>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span class="time">Apr 2014 - May 2015</span>
            </div>
            <div>
              <h4>Satisfaction CMS</h4>
              <p>Developing an AJAX content management system based on AngularJS and Ruby on Rails (backend JSON-API).</p>
              <h4>Tech-Stack:</h4>
              <ul>
                <li>AngularJS</li>
                <li>Ruby on Rails</li>
                <li>Javascript</li>
                <li>Ruby</li>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>SASS</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img src="../assets/twy_logo.png" width="200px" class="twy-logo">
        <h2><a href="http://www.twy.gmbh" target="_blank">Notch Interactive GmbH</a></h2>
        <h3>Frontend-Developer</h3>
        <span class="time">Aug 2013 – May 2014</span>
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>Notch Interactive GmbH</h4>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>AngularJS</li>
                <li>Sass</li>
                <li>Python</li>
                <li>Django</li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img src="../assets/twy_logo.png" width="200px" class="twy-logo">
        <h2><a href="http://www.twy.gmbh" target="_blank">Liip</a></h2>
        <h3>Frontend-Developer</h3>
        <span class="time">Oct 2011 – Aug 2013</span>
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>Liip</h4>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>PHP</li>
                <li>Symfony 2</li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img src="../assets/twy_logo.png" width="200px" class="twy-logo">
        <h2><a href="http://www.twy.gmbh" target="_blank">Comvation</a></h2>
        <h3>Frontend-Developer</h3>
        <span class="time">Oct 2010 – Sep 2011</span>
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>Liip</h4>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>PHP</li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </li>
  </ol>


</section>
<section>
  <h2 class=section-title>Skills</h2>
  <ul>
    <li>Angular / AngularJS</li>
    <li>Typescript / Javascript</li>
    <li>Webpack</li>
    <li>Jest</li>
    <li>HTML5 / CSS3</li>
    <li>Ruby / Ruby on Rails</li>
  </ul>
</section>
<section>
  <h2 class="section-title">References</h2>

</section>