<br />
<section class="private-info">
  <div class="headshot">
    <img
      src="https://pbs.twimg.com/profile_images/433557756444823552/NjX4zr-A_400x400.jpeg"
    />
  </div>
  <div class="bio">
    <div class="infos">
      Name:<br />
      Birthday:<br />
      Address: <br /><br /><br />
      Mobile: <br />
      E-Mail: <br /><br />
      Kids:
    </div>
    <div>
      <h1>Reto Ryter</h1>
      <span>09.06.1987</span><br />
      Schwalbenweg 3<br />
      3510 Konolfingen<br /><br /><a href="tel:+41794091897">+41794091897</a
      ><br /><a href="mailto:reto@twy.gmbh" target="_blank">reto@twy.gmbh</a
      ><br /><br />
      👧 Hannah <span style="opacity: 0.3"> - 2014</span> <br />
      👦 Aaron <span style="opacity: 0.3"> - 2016</span>
    </div>
  </div>
</section>
<section>
  <ol class="list list--experiences">
    <li>
      <div class="position">
        <img class="company-logo" src="../assets/twy_logo.png" />
        <h3>Founder <br />Frontend Developer</h3>
        <span class="time">Feb 2012 - present<br />Workload 80%</span
        ><br /><br />
        <div>
          <img src="../assets/icons/angular-icon.svg" style="height: 30px" />
          <img src="../assets/icons/RxJs_Logo_Basic.svg" style="height: 30px" />
          <img src="../assets/icons/typescript.webp" style="height: 30px" />
          <img src="../assets/icons/html5-icon-13.jpg" style="height: 30px" />
          <img
            src="../assets/icons/css.png"
            style="height: 26px; padding: 2px 0"
          />
          <img src="../assets/icons/icon-96x96.png" style="height: 30px" />
          <img
            src="../assets/icons/jest-logo-F9901EBBF7-seeklogo.com.png"
            style="height: 26px; padding: 2px 0"
          />
        </div>
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>LUKSO</h4>
              <span>Jan 2021 - present</span>
              <img
                src="../assets/lukso_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <p>
                LUKSO is a Blockchain infrastructure, providing a series of
                standards and solutions for physical and digital consumer goods,
                in order to foster transparency, circularity and new forms of
                responsible production and consumption.
                <br /><br />
                LUKSO is the next project by the creator of ERC-20 and ERC-725 A
                network dedicated to moving Blockchain beyond DeFi.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Solidity</li>
                <li>Javascript</li>
                <li>TypeScript</li>
                <li>Tooling</li>
                <li>HTML5 / CSS3</li>
              </ul>
            </div>
          </li>

          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Schweizerische Mobiliar</h4>
              <span>Nov 2018 - Dec 2020</span>
              <img src="../assets/mobi_logo_de.svg" class="position__logo" />
            </div>
            <div>
              <p>
                I am part of a large project (200+ devs), and responsible for
                the frontend related part of our team (3 frontend devs, four
                back-end devs).
                <br /><br />I am helping with the migration from a large
                AngularJS codebase to Angular. The mindset has shifted to
                Reactive Programming (with
                <a href="https://rxjs.dev/guide/overview" target="_blank"
                  >RxJS</a
                >). With that shift, big chunks of the existing codebase have to
                be rewritten. I introduced
                <a href="https://jestjs.io/" target="_blank">Jest</a>,
                <a href="https://www.cypress.io/">Cypress</a>, and
                <a href="https://storybook.js.org/">Storybook</a> into the
                current workflow to increase the velocity of development.
                <br /><br />
                I also proposed to virtualize their development environment and
                move it to the cloud. To support the endeavor, from scratch, I
                set up a custom Chef playbook for a Linux (Ubuntu) VM and built
                a custom "conditional" proxy to only route specific requests via
                proxy.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Angular</li>
                <li>RxJS</li>
                <li>TypeScript</li>
                <li>Tooling</li>
                <li>HTML5 / CSS3</li>
              </ul>
            </div>
          </li>

          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span>Feb 2018 - Nov 2018</span>
              <img
                src="../assets/twy_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>Coaster</h4>
              <p>
                Crypto-Asset Tracker. More information available upon request.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Angular</li>
                <li>TypeScript</li>
                <li>RxJS</li>
                <li>Redux / NGRX</li>
                <li>Jest</li>
                <li>Ruby on Rails / Ruby</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Schweizerische Mobiliar</h4>
              <span>Aug 2016 - Feb 2018</span>
              <img src="../assets/mobi_logo_de.svg" class="position__logo" />
            </div>
            <div>
              <h4>Project NSP</h4>
              <p>
                I developed new features within an existing AngularJS
                application, improved build time significantly, tooling and the
                developer experience in general. I introduced and integrated
                <a href="https://github.com/prettier/prettier">Prettier</a> into
                the existing workflow.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>AngularJS</li>
                <li>Javascript / TypeScript</li>
                <li>Webpack</li>
                <li>HTML / CSS</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Freelancing</h3>
              <h4>Localsearch</h4>
              <span>Jun 2015 - Jul 2016</span>
              <img
                src="../assets/localsearch_logo.svg"
                class="position__logo"
              />
            </div>
            <div>
              <p>
                Launched several websites within the local.ch domain. Migrated
                the existing blog into the newly created Locomotive CMS
                instance. Prepared all the instances to be ready for future CMS
                upgrades.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>Ruby / Locomotive CMS</li>
                <li>HTML / CSS</li>
              </ul>
              <blockquote>
                <h4>Jeremy Seitz, Head of Web Engineering</h4>
                I had the pleasure of working with Reto for nearly a year at
                local.ch. As an external provider, he helped us to re-launch
                several web sites, as well as contributing to our CMS
                infrastructure. Through his company TWY, he provided a very
                professional and quality service, in terms of the technical work
                and managing project complexity. His communication skills are
                strong, both with engineers and business stakeholders. He also
                integrated well with internal teams, pairing and reviewing code,
                and contributing solutions and ideas. I highly recommend him for
                software development and project management needs.
              </blockquote>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span>Sep 2015 - Nov 2015</span>
              <img
                src="../assets/twy_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>NMS-Webportal</h4>
              <p>
                Developed a License management web application for the existing
                Moba NMS Software. Features include managing licesenes,
                customers, supliers and so forth. Connected the application to a
                REST-Endpoint (JSON). License orders are imported from SAP via
                SOAP.
              </p>
              <h4>Tech-Stack:</h4>
              <ul>
                <li>AngularJS</li>
                <li>Javascript</li>
                <li>HTML / CSS</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="infos">
              <h3>Internal</h3>
              <h4>TWY GmbH</h4>
              <span class="time">Apr 2014 - May 2015</span>
              <img
                src="../assets/twy_logo.png"
                class="position__logo"
                style="background: none"
              />
            </div>
            <div>
              <h4>Satisfaction CMS</h4>
              <p>
                Developing an AJAX content management system based on AngularJS
                and Ruby on Rails (backend JSON-API).
              </p>
              <h4>Tech-Stack:</h4>
              <ul>
                <li>AngularJS</li>
                <li>Ruby on Rails</li>
                <li>Javascript</li>
                <li>Ruby</li>
                <li>HTML / CSS</li>
                <li>SASS</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img
          class="company-logo company-logo--black"
          src="../assets/notch-interactive_logo.png"
        />
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Frontend-Developer</h3>
              <h4>Notch Interactive GmbH</h4>
              <span class="time">Aug 2013 – May 2014<br />Workload: 80%</span>
            </div>
            <div>
              <p>
                Relaunch of Kitag.com: Introduced AngularJS to the whole
                development team. I was responsible for all the JavaScript
                components (Seating-Plan, Coverflow and so on). Won the gold
                award at the BOSW 2015 (Best of Swiss Web) in the category
                "Technology".
              </p>
              <p>
                Hearing Test for Sonova: Developed an AngularJS application with
                several step by step wizzards to test the hearing capabilites of
                elderly persons.
              </p>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>AngularJS</li>
                <li>HTML / CSS</li>
                <li>Python</li>
                <li>Django</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img class="company-logo" src="../assets/liip_logo.png" />
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Frontend-Developer</h3>
              <h4>Liip AG</h4>
              <span class="time">Oct 2011 – Aug 2013<br />Workload 80%</span>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript</li>
                <li>HTML / CSS</li>
                <li>PHP</li>
                <li>Symfony 2</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="position">
        <img
          class="company-logo company-logo--black"
          src="../assets/comvation_logo_rgb_weiss.svg"
        />
      </div>
      <div class="position-description">
        <ul>
          <li>
            <div class="infos">
              <h3>Frontend-Developer</h3>
              <h4>Comvation AG</h4>
              <span class="time">Oct 2010 – Sep 2011<br />Workload 80%</span>
            </div>
            <div>
              <h4>Tech-Stack:</h4>
              <ul class="skills">
                <li>Javascript / jQuery</li>
                <li>HTML / CSS</li>
                <li>PHP</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ol>
</section>
